
/* NAVBAR STYLING */

.navbar-logo-mpasol {
    width: 100%;
    max-width: 120px;
    height: 100%;
}

.navbar-screw-icon {
    color: #2A7BE4;
    font-size: 20px;
}

/* CREATE COMPANY STYLING */

.go-back-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.go-back-button {
    width: 200px;
}