
/* NAVBAR STYLING */

.navbar-logo-mpasol {
    width: 100%;
    max-width: 120px;
    height: 100%;
}

.navbar-screw-icon {
    color: #2A7BE4;
    font-size: 20px;
}

@media only screen and (min-width: 1200px){
    .navbar-logo-mpasol {
        width: auto;
    }
}

/* CREATE COMPANY STYLING */

.go-back-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.go-back-button {
    width: 200px;
}

/* COMPANY DETAILS */


.company-details-expired-items-card {
    background-image: url('./public/images/corner-1.png');
}

.company-details-controlled-items-card {
    background-image: url('./public/images/corner-3.png');
}

.upcoming-expirations-border {
    border-color: rgba(255, 255, 255, 0.05)
}

.canvas-graphic {
    position: absolute; 
    left: 0px; 
    top: 0px; 
    width: 648px; 
    height: 295px; 
    user-select: none; 
    padding: 0px; 
    margin: 0px; 
    border-width: 0px;
}






/* .company-details-top-half-container {
    display: flex;
    width: 100%;
    justify-content: center;
} */

/* .company-details-left-side-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
} */

/* .company-details-right-side-container {
    width: 70%;

} */

.upcoming-expirations-button-align {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* ITEM DETAILS */


/* .item-details-top-half-container {
    width: auto;
    height: 100%;
    display: block;
}

.item-details-top-half-item {
    width: 100%;
    padding: 0.5rem;
}

.item-details-right-side-container {
    width: 70%;
} */

@media (min-width: 965px) {
    /* .item-details-bottom-section {
        display: flex;
    }

    .item-details-top-half-container {
        display: flex;
        justify-content: space-between;
    }

    .item-details-top-half-item {
        width: 33.33%;
    } */

}